.header {
    display: flex;
    z-index: 100;
    position: absolute;
    width: 100%;
    background-color: #202020;
    height: 56px;
    justify-content: space-between;
}

.header > * {
    cursor: pointer;
}

.header__left {
    display: flex;
    padding-left: 16px;
    align-items: center;
    justify-content: left;
}

.header__left > .MuiSvgIcon-root {
    padding: 6px;
    margin-right: 5px;
}

.header__middle {
    display: flex;
    flex: 1;
    max-width: 628px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
}

.middle__form {
    display: flex;
    align-items: center;
    height: 32px;
    width: 100%;
    background-color: #181818;
    border-color: #323232;
    border-style: solid;
    border-width: 1px 0px 1px 1px
}

.middle__input {
    height: 26px;
    width: 100%;
    min-width: 100px;
    padding-left: 10px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto','Noto',sans-serif;
    color: #FFFFFF;
    background-color: #181818;
    border: none;
}

.middle__button {
    height: inherit;
    width: 64px;
    cursor: inherit;
    background-color: #323232;
    border: none;
}

.middle__button > .MuiSvgIcon-root {
    color: #858585;
}

.middle__visible {
    display: flex;
    padding-right: 14px;
}

.middle__hidden {
    display: none;
}

.header__right {
    display: flex;
    padding-right: 17px;
    align-items: center;
    justify-content: right;
}

.right__icons {
    display: flex;
}

.right__icons > .MuiSvgIcon-root {
    padding: 6px;
    margin: 4px;
}

.right__signin {
    display: flex;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
    min-width: 80px;
    align-items: center;
    padding: 6px 10px 6px 10px;
    color: #3B9AEB;
    border-radius: 3px;
    border: 1px solid #3B9AEB;
}

.right__signin > .MuiSvgIcon-root {
    color: #3B9AEB;
    padding-right: 4px;
}

.right__visible {
    display: flex;
}

.right__visible > .MuiSvgIcon-root {
    padding: 6px;
    margin: 4px;
}

.right__hidden  {
    display: none;
}

.logo {
    height: inherit;
}

.MuiSvgIcon-root {
    color: #FFFFFF;
}

.MuiButtonBase-root {
    min-height: 40px !important;
    min-width: 40px !important;
    max-height: 40px !important;
    max-width: 40px !important;
    border-radius: 50px !important;
    margin-right: 3px !important;
}

.MuiTouchRipple-rippleVisible {
    color: #acacac;
}