.sideNav_minimized {
    height: 100%;
    min-width: 72px;
    max-width: 72px;
    background-color: #202020;
}

.sideNav_minimizedRow {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 10px;
    cursor: pointer;
    align-items: center;
    color: #909090;
}

.sideNav_minimizedRow > .MuiSvgIcon-root {
    margin-bottom: 6px;
    color: inherit;
}

.sideNav_minimizedRow:hover {
    background-color: #303030;
}

.sideNav_minimizedRow.selected {
    color: #ffffff;
}