.sideNav_maximized {
    display: flex;
    flex-direction: column;
    position: sticky;
    height: 100%;
    min-width: 240px;
    max-width: 240px;
    background-color: #202020;
    overflow-y: hidden;
}

.sideNav_maximized:hover {
    overflow-y: scroll;
}

.sideNav__header {
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.sideNav__section {
    display: flex;
    flex-direction: column;
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid #383838;
}

.signin__button {
    display: flex;
    margin: 8px 0px 8px 35px;
    font-size: 14px;
    font-weight: 600;
    width: 95px;
    align-items: center;
    padding: 5px 0px 5px 8px;
    cursor: pointer;
    color: #3B9AEB;
    border-radius: 3px;
    border: 1px solid #3B9AEB;
}

.signin__button > .MuiSvgIcon-root {
    padding-right: 7px !important;
    color: #3B9AEB;
}

.signin__text {
    padding: 5px 10px 5px 35px;
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #ffffff;
}

.section__header {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 600;
    color: #a3a3a3;
}

.sideNav__footer {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 22px;
    font-size: 12px;
    font-weight: 700;
    color: #a3a3a3;
}

.footer__top, .footer__middle, .footer__bottom {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
    word-spacing: 4px;
    line-height: 16px;
}

.footer__bottom {
    color: #555555;
    word-spacing: 0px;
}

.sideNav_maximizedRow {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    padding: 8px 0px 8px 24px;
    color: #ffffff;
}

.sideNav_maximizedRow span {
    color: #ffffff;
}

.sideNav_maximizedRow .MuiSvgIcon-root {
    padding-right: 24px;
    color: #858585;
}

.sideNav_maximizedRow:hover {
    background-color: #303030;
}

.sideNav_maximizedRow.selected {
    background-color: #383838;
}

.sideNav_maximizedRow.selected .MuiSvgIcon-root {
    color: #ffffff;
}

.sideNav_maximizedRow.selected:hover {
    background-color: #4C4C4C;
}

.sideNav_maximizedRow.outline .MuiSvgIcon-root {
    height: 18px;
    width: 18px;
    padding: 3px;
    margin-right: 24px;
    color: #ffffff;
    border-radius: 100px;
    background-color: #444444;
}